body {
  font-family: "Open Sans", sans-serif;
  
}

.HomeImage {
  
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
  }


.specBackground{

  background: black;
  width: 100vw;
}

.backgroundAbout{
background: black;
width: 100vw; 
}
.backgroundContact{
  background: black;
  width: 100vw;

  }

  .pricebackground{
    background: black;
    width: 100vw;
  }

  .backgroundGallery{
    background: black;
    width: 100vw;
  
    }

p {
  color: rgba(255, 255, 255, 0.76);
  font-size: 20px;
}

h1, h2, h3, .card-body > .card-title {
  font-family: "Lobster", cursive;
}
h2, h3, h4, h5 {
  color: rgba(255, 255, 255, 0.76);
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}



.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.11);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#212529, #343a40);
  position: relative;
  bottom: 0h;
  padding: 20px 40px;
  width: 100vw;
}


@media screen and (max-width: 992px){
  #box{
      display: block;
  }
}

@media screen and (max-width: 992px){
  Card{
      display: block;
  }
}


.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    
  }

  .img-box:hover img { 
    transform: scale(1.2);
}

.img-gallery {
      height: 250px;
      width: 350px;
      transform: scale(0.9);
      transition: transform 0.4s ease;
      padding: 10px;
}

#bodyimg{
width: 140px;
height: 140px;
}

.nav-link {
  color:  rgba(255, 255, 255, 0.89);
  transition: .5s;
  cursor: pointer;
  
  }

  .nav-link:hover {
    background-color:  rgb(248, 248, 248);
    transition: .5s;
    
    }